---
import Layout from "@layouts/Layout.astro";
import BlogPost from "@components/BlogPost.astro";
import { getCollection } from "astro:content";

// const posts = (await getCollection("blogs")).sort(
//     (a, b) => b.data.published_at.valueOf() - a.data.published_at.valueOf(),
// );

const documents = await getCollection("documents");
---

<Layout
    title="Dane's Space | Blog"
    description="Where I write about things I've learned or found interesting"
>
    <h1 class="mt-4 mb-4 text-2xl font-bold text-snes-black">Blog</h1>
    <ul class="space-y-4">
        {
            documents.map((document) => (
                <BlogPost
                    title={document.data.title}
                    slug={document.id}
                    publishedAt={document.data.publishedAt}
                />
            ))
        }
    </ul>
</Layout>
